@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* using rem unit */
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #E1E6EC;
}

.container {
  width: 350px;
  height: 650px;
  background-color: #E1E6EC;
  box-shadow: 5px 5px 11px #A2B1C6, -5px -5px 11px #fff;
  padding: 25px 30px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.container .top-bar, .container .progress-bar.song-timer, .container .controls, .container .music-list .header, .container .music-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .top-bar ion-icon {
  font-size: 30px;
  color: #2873fd;
}
.container .top-bar ion-icon:first-child {
  margin-left: -7px;
  font-size: 22px;
}
.container .top-bar span {
  font-size: 18px;
  margin-left: -3px;
  color: #313131;
}
.container .img-area {
  width: 100%;
  height: 290px;
  overflow: hidden;
  margin-top: 25px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #A2B1C6, -2px -2px 11px #fff;
}
.container .img-area .player-image.is-playing {
  animation: rotate 10s forwards infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.container .img-area img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  overflow: inherit;
  object-fit: cover;
}
.container .song-details {
  text-align: center;
  margin: 30px 0;
}
.container .song-details p {
  background-image: linear-gradient(to left, #0af816, #0842ff);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.container .song-details .name {
  font-size: 21px;
}
.container .song-details .artist {
  font-size: 15px;
  opacity: 0.9;
  line-height: 35px;
}
.container .progress-area {
  width: 100%;
  height: 6px;
  border-radius: 50px;
  background-color: #8fb9f3;
}
.container .progress-area .progress-bar {
  width: 0%;
  height: inherit;
  border-radius: inherit;
  background-color: #E1E6EC;
  position: relative;
  box-shadow: 5px 5px 11px #A2B1C6, -5px -5px 11px #fff;
}
.container .progress-area .progress-bar::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  background-color: inherit;
  transform: translateY(-50%);
  transition: opacity 0.2s ease;
  box-shadow: 2px 2px 5px #A2B1C6, -2px -2px 11px #fff;
}
.container .progress-area .song-timer {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}
.container .progress-area .song-timer span {
  font-size: 14px;
  background-image: linear-gradient(to left, #2772fd, #16dcff);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
}
.container .progress-area:hover .progress-bar::before {
  opacity: 1;
  pointer-events: auto;
}
.container .controls {
  margin: 70px 0 5px 0;
}
.container .controls ion-icon, .container .controls i {
  font-size: 27px;
  box-shadow: 2px 2px 5px #A2B1C6, -2px -2px 11px #fff;
  user-select: none;
  background-color: #E1E6EC;
}
.container .controls ion-icon:nth-child(2), .container .controls ion-icon:nth-child(4) {
  font-size: 35px;
}
.container .controls .back {
  margin-right: -13px;
}
.container .controls .next {
  margin-left: -13px;
}
.container .controls .play-pause, .container .controls .next, .container .controls .back {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.container .controls .play-pause:before, .container .controls .next:before, .container .controls .back:before {
  content: "";
  position: absolute;
  width: 43px;
  height: 43px;
  border-radius: inherit;
  border: 3px solid #E1E6EC;
  background: transparent;
}
.container .controls .play-pause:active, .container .controls .next:active, .container .controls .back:active {
  background: #E1E6EC;
  box-shadow: inset 2px 2px 5px #A2B1C6, -2px -2px 11px #fff;
}

.music-list ul {
  margin: 10px 0;
  max-height: 260px;
  overflow: auto;
}

.music-list ul li {
  list-style: none;
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  background-image: linear-gradient(to right, #0f59e4, #a509ff);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-bottom: 1px solid #A2B1C6;
}

.music-list ul li:last-child {
  border-bottom: 0px;
}

.music-list ul li .row span {
  font-size: 17px;
}

.music-list ul li .row p {
  opacity: 0.6em;
}

ul li .audio-durations {
  font-size: 16px;
}

.music-list {
  position: absolute;
  width: 100%;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  left: 0;
  background-color: #e2e9f1;
  box-shadow: 5px 5px 11px #A2B1C6, -5px -5px 11px #fff;
  z-index: 10;
  padding: 15px 30px;
  border-radius: 15px;
  background-blend-mode: screen;
  transition: all 0.15s ease-in-out;
}
.music-list .header .row {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: #313131;
  cursor: default;
}
.music-list .header .row span {
  background-image: linear-gradient(to right, #2772fd, #16dcff);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-left: 5px;
}
.music-list .header .close {
  font-size: 22px;
  color: #313131;
}

.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}

.music-list ul::-webkit-scrollbar {
  width: 0;
}

.music-list ul:hover {
  color: #e2e9f1;
}

ul li .playing {
  pointer-events: none;
  background-image: linear-gradient(to right, #ff58cd, #6ee8fd);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*# sourceMappingURL=style.css.map */
